In [6]:
import requests
import json
import pandas as pd

In [3]:
# loop through the pages in order to gather all the entries in a single list
def get_results(data, key):
    result = []
    current_page = data
    has_next = True
    
    while(has_next):
        for data_point in current_page['results']:
            result.append(data_point)

        if current_page['next'] == None:
            has_next = False
        else:
            response = requests.get(current_page['next'])
            current_page = response.json()

    return result

In [79]:
# get the json from the API
response = requests.get("https://swapi.dev/api/?format=json")
root = response.json()

data = {}

# get json from the major columns (people, planets, etc.)
for key in root:
    response = requests.get(root[key] + '/?format=json')
    data[key] = get_results(response.json(), key)
    print(key, 'done')

people done
planets done
films done
species done
vehicles done
starships done

In [80]:
# get the names or titles instead of the url in lists within the nested objects
for v in data.values():
    for item in v:
        for key, value in item.items():
            original_key = key

            if key == 'pilots' or key == 'characters' or key == 'residents':
                original_key = 'people'

            if type(value) == list and original_key in data.keys():
                items = []
                for val in value:
                    for root_data in data[original_key]:
                        if root_data['url'] == val:
                            if ('name' in root_data):
                                items.append(root_data['name'])
                            else:
                                items.append(root_data['title'])

                            break
                item[key] = items

            if key == 'homeworld':
                original_key = 'planets'
                for root_data in data[original_key]:
                    if root_data['url'] == value:
                        item[key] = root_data['name']
                        break

# write finished json to file
with open("result.json", "w") as write_file:
    json.dump(data, write_file, indent=4)

In [87]:
# descriptive analysis for each column
for col in data:
    # create dataframe for each key (people, planets, etc.)
    nested_df = pd.json_normalize(data, col)

    print('\n#############################\n######  Column:', col, '\n#############################')
    print('\nColumns:')
    display(list(nested_df.columns))
    print('------------------\n\nHead (First 5 Items):')
    display(nested_df.head())
    print('------------------\n\nInfo:\n')
    display(nested_df.info())
    print('------------------\n\nDescription:')
    display(nested_df.describe())
    print('------------------\n\nCount values:')
    display(nested_df.count())

#############################
######  Column: people
#############################

Columns:

['name',
 'height',
 'mass',
 'hair_color',
 'skin_color',
 'eye_color',
 'birth_year',
 'gender',
 'homeworld',
 'films',
 'species',
 'vehicles',
 'starships',
 'created',
 'edited',
 'url']

------------------

Head (First 5 Items):

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,Tatooine,"[A New Hope, The Empire Strikes Back, Return o...",[],"[Snowspeeder, Imperial Speeder Bike]","[X-wing, Imperial shuttle]",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.dev/api/people/1/
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,Tatooine,"[A New Hope, The Empire Strikes Back, Return o...",[Droid],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,Naboo,"[A New Hope, The Empire Strikes Back, Return o...",[Droid],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.dev/api/people/3/
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male,Tatooine,"[A New Hope, The Empire Strikes Back, Return o...",[],[],[TIE Advanced x1],2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,https://swapi.dev/api/people/4/
4,Leia Organa,150,49,brown,light,brown,19BBY,female,Alderaan,"[A New Hope, The Empire Strikes Back, Return o...",[],[Imperial Speeder Bike],[],2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,https://swapi.dev/api/people/5/

------------------

Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        82 non-null     object
 1   height      82 non-null     object
 2   mass        82 non-null     object
 3   hair_color  82 non-null     object
 4   skin_color  82 non-null     object
 5   eye_color   82 non-null     object
 6   birth_year  82 non-null     object
 7   gender      82 non-null     object
 8   homeworld   82 non-null     object
 9   films       82 non-null     object
 10  species     82 non-null     object
 11  vehicles    82 non-null     object
 12  starships   82 non-null     object
 13  created     82 non-null     object
 14  edited      82 non-null     object
 15  url         82 non-null     object
dtypes: object(16)
memory usage: 10.4+ KB

None

------------------

Description:

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
count,82,82,82,82,82,82,82,82,82,82,82,82,82,82,82,82
unique,82,46,39,12,30,14,37,5,49,19,38,11,16,82,82,82
top,Luke Skywalker,183,unknown,none,fair,brown,unknown,male,Naboo,[Attack of the Clones],[],[],[],2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.dev/api/people/1/
freq,1,7,23,36,17,20,39,60,11,13,32,71,63,1,1,1

------------------

Count values:

name          82
height        82
mass          82
hair_color    82
skin_color    82
eye_color     82
birth_year    82
gender        82
homeworld     82
films         82
species       82
vehicles      82
starships     82
created       82
edited        82
url           82
dtype: int64

#############################
######  Column: planets
#############################

Columns:

['name',
 'rotation_period',
 'orbital_period',
 'diameter',
 'climate',
 'gravity',
 'terrain',
 'surface_water',
 'population',
 'residents',
 'films',
 'created',
 'edited',
 'url']

------------------

Head (First 5 Items):

,name,rotation_period,orbital_period,diameter,climate,gravity,terrain,surface_water,population,residents,films,created,edited,url
0,Tatooine,23,304,10465,arid,1 standard,desert,1,200000,"[Luke Skywalker, C-3PO, Darth Vader, Owen Lars...","[A New Hope, Return of the Jedi, The Phantom M...",2014-12-09T13:50:49.641000Z,2014-12-20T20:58:18.411000Z,https://swapi.dev/api/planets/1/
1,Alderaan,24,364,12500,temperate,1 standard,"grasslands, mountains",40,2000000000,"[Leia Organa, Bail Prestor Organa, Raymus Anti...","[A New Hope, Revenge of the Sith]",2014-12-10T11:35:48.479000Z,2014-12-20T20:58:18.420000Z,https://swapi.dev/api/planets/2/
2,Yavin IV,24,4818,10200,"temperate, tropical",1 standard,"jungle, rainforests",8,1000,[],[A New Hope],2014-12-10T11:37:19.144000Z,2014-12-20T20:58:18.421000Z,https://swapi.dev/api/planets/3/
3,Hoth,23,549,7200,frozen,1.1 standard,"tundra, ice caves, mountain ranges",100,unknown,[],[The Empire Strikes Back],2014-12-10T11:39:13.934000Z,2014-12-20T20:58:18.423000Z,https://swapi.dev/api/planets/4/
4,Dagobah,23,341,8900,murky,N/A,"swamp, jungles",8,unknown,[],"[The Empire Strikes Back, Return of the Jedi, ...",2014-12-10T11:42:22.590000Z,2014-12-20T20:58:18.425000Z,https://swapi.dev/api/planets/5/

------------------

Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             60 non-null     object
 1   rotation_period  60 non-null     object
 2   orbital_period   60 non-null     object
 3   diameter         60 non-null     object
 4   climate          60 non-null     object
 5   gravity          60 non-null     object
 6   terrain          60 non-null     object
 7   surface_water    60 non-null     object
 8   population       60 non-null     object
 9   residents        60 non-null     object
 10  films            60 non-null     object
 11  created          60 non-null     object
 12  edited           60 non-null     object
 13  url              60 non-null     object
dtypes: object(14)
memory usage: 6.7+ KB

None

------------------

Description:

,name,rotation_period,orbital_period,diameter,climate,gravity,terrain,surface_water,population,residents,films,created,edited,url
count,60,60,60,60,60,60,60,60,60,60,60,60,60,60
unique,60,20,44,40,21,14,54,16,40,50,10,60,60,60
top,Tatooine,unknown,unknown,unknown,temperate,1 standard,unknown,unknown,unknown,[],[],2014-12-09T13:50:49.641000Z,2014-12-20T20:58:18.411000Z,https://swapi.dev/api/planets/1/
freq,1,12,12,16,23,19,7,34,17,11,40,1,1,1

------------------

Count values:

name               60
rotation_period    60
orbital_period     60
diameter           60
climate            60
gravity            60
terrain            60
surface_water      60
population         60
residents          60
films              60
created            60
edited             60
url                60
dtype: int64

#############################
######  Column: films
#############################

Columns:

['title',
 'episode_id',
 'opening_crawl',
 'director',
 'producer',
 'release_date',
 'characters',
 'planets',
 'starships',
 'vehicles',
 'species',
 'created',
 'edited',
 'url']

------------------

Head (First 5 Items):

,title,episode_id,opening_crawl,director,producer,release_date,characters,planets,starships,vehicles,species,created,edited,url
0,A New Hope,4,It is a period of civil war.\r\nRebel spaceshi...,George Lucas,"Gary Kurtz, Rick McCallum",1977-05-25,"[Luke Skywalker, C-3PO, R2-D2, Darth Vader, Le...","[Tatooine, Alderaan, Yavin IV]","[CR90 corvette, Star Destroyer, Sentinel-class...","[Sand Crawler, T-16 skyhopper, X-34 landspeede...","[Human, Droid, Wookie, Rodian, Hutt]",2014-12-10T14:23:31.880000Z,2014-12-20T19:49:45.256000Z,https://swapi.dev/api/films/1/
1,The Empire Strikes Back,5,It is a dark time for the\r\nRebellion. Althou...,Irvin Kershner,"Gary Kurtz, Rick McCallum",1980-05-17,"[Luke Skywalker, C-3PO, R2-D2, Darth Vader, Le...","[Hoth, Dagobah, Bespin, Ord Mantell]","[Star Destroyer, Millennium Falcon, Y-wing, X-...","[TIE/LN starfighter, Snowspeeder, TIE bomber, ...","[Human, Droid, Wookie, Yoda's species, Trandos...",2014-12-12T11:26:24.656000Z,2014-12-15T13:07:53.386000Z,https://swapi.dev/api/films/2/
2,Return of the Jedi,6,Luke Skywalker has returned to\r\nhis home pla...,Richard Marquand,"Howard G. Kazanjian, George Lucas, Rick McCallum",1983-05-25,"[Luke Skywalker, C-3PO, R2-D2, Darth Vader, Le...","[Tatooine, Dagobah, Endor, Naboo, Coruscant]","[CR90 corvette, Star Destroyer, Millennium Fal...","[TIE/LN starfighter, TIE bomber, AT-AT, AT-ST,...","[Human, Droid, Wookie, Hutt, Yoda's species, M...",2014-12-18T10:39:33.255000Z,2014-12-20T09:48:37.462000Z,https://swapi.dev/api/films/3/
3,The Phantom Menace,1,Turmoil has engulfed the\r\nGalactic Republic....,George Lucas,Rick McCallum,1999-05-19,"[C-3PO, R2-D2, Obi-Wan Kenobi, Anakin Skywalke...","[Tatooine, Naboo, Coruscant]","[Republic Cruiser, Droid control ship, Naboo f...","[Vulture Droid, Multi-Troop Transport, Armored...","[Human, Droid, Yoda's species, Neimodian, Gung...",2014-12-19T16:52:55.740000Z,2014-12-20T10:54:07.216000Z,https://swapi.dev/api/films/4/
4,Attack of the Clones,2,There is unrest in the Galactic\r\nSenate. Sev...,George Lucas,Rick McCallum,2002-05-16,"[C-3PO, R2-D2, Owen Lars, Beru Whitesun lars, ...","[Tatooine, Naboo, Coruscant, Kamino, Geonosis]","[Slave 1, Droid control ship, Naboo fighter, J...","[Sand Crawler, Zephyr-G swoop bike, Koro-2 Exo...","[Human, Droid, Yoda's species, Gungan, Toydari...",2014-12-20T10:57:57.886000Z,2014-12-20T20:18:48.516000Z,https://swapi.dev/api/films/5/

------------------

Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          6 non-null      object
 1   episode_id     6 non-null      int64
 2   opening_crawl  6 non-null      object
 3   director       6 non-null      object
 4   producer       6 non-null      object
 5   release_date   6 non-null      object
 6   characters     6 non-null      object
 7   planets        6 non-null      object
 8   starships      6 non-null      object
 9   vehicles       6 non-null      object
 10  species        6 non-null      object
 11  created        6 non-null      object
 12  edited         6 non-null      object
 13  url            6 non-null      object
dtypes: int64(1), object(13)
memory usage: 800.0+ bytes

None

------------------

Description:

       episode_id
count    6.000000
mean     3.500000
std      1.870829
min      1.000000
25%      2.250000
50%      3.500000
75%      4.750000
max      6.000000

------------------

Count values:

title            6
episode_id       6
opening_crawl    6
director         6
producer         6
release_date     6
characters       6
planets          6
starships        6
vehicles         6
species          6
created          6
edited           6
url              6
dtype: int64

#############################
######  Column: species
#############################

Columns:

['name',
 'classification',
 'designation',
 'average_height',
 'skin_colors',
 'hair_colors',
 'eye_colors',
 'average_lifespan',
 'homeworld',
 'language',
 'people',
 'films',
 'created',
 'edited',
 'url']

------------------

Head (First 5 Items):

,name,classification,designation,average_height,skin_colors,hair_colors,eye_colors,average_lifespan,homeworld,language,people,films,created,edited,url
0,Human,mammal,sentient,180,"caucasian, black, asian, hispanic","blonde, brown, black, red","brown, blue, green, hazel, grey, amber",120,Coruscant,Galactic Basic,"[Dorm, Dooku, Bail Prestor Organa, Jocasta Nu]","[A New Hope, The Empire Strikes Back, Return o...",2014-12-10T13:52:11.567000Z,2014-12-20T21:36:42.136000Z,https://swapi.dev/api/species/1/
1,Droid,artificial,sentient,n/a,n/a,n/a,n/a,indefinite,None,n/a,"[C-3PO, R2-D2, R5-D4, IG-88]","[A New Hope, The Empire Strikes Back, Return o...",2014-12-10T15:16:16.259000Z,2014-12-20T21:36:42.139000Z,https://swapi.dev/api/species/2/
2,Wookie,mammal,sentient,210,gray,"black, brown","blue, green, yellow, brown, golden, red",400,Kashyyyk,Shyriiwook,"[Chewbacca, Tarfful]","[A New Hope, The Empire Strikes Back, Return o...",2014-12-10T16:44:31.486000Z,2014-12-20T21:36:42.142000Z,https://swapi.dev/api/species/3/
3,Rodian,sentient,reptilian,170,"green, blue",n/a,black,unknown,Rodia,Galatic Basic,[Greedo],[A New Hope],2014-12-10T17:05:26.471000Z,2014-12-20T21:36:42.144000Z,https://swapi.dev/api/species/4/
4,Hutt,gastropod,sentient,300,"green, brown, tan",n/a,"yellow, red",1000,Nal Hutta,Huttese,[Jabba Desilijic Tiure],"[A New Hope, Return of the Jedi]",2014-12-10T17:12:50.410000Z,2014-12-20T21:36:42.146000Z,https://swapi.dev/api/species/5/

------------------

Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              37 non-null     object
 1   classification    37 non-null     object
 2   designation       37 non-null     object
 3   average_height    37 non-null     object
 4   skin_colors       37 non-null     object
 5   hair_colors       37 non-null     object
 6   eye_colors        37 non-null     object
 7   average_lifespan  37 non-null     object
 8   homeworld         36 non-null     object
 9   language          37 non-null     object
 10  people            37 non-null     object
 11  films             37 non-null     object
 12  created           37 non-null     object
 13  edited            37 non-null     object
 14  url               37 non-null     object
dtypes: object(15)
memory usage: 4.5+ KB

None

------------------

Description:

,name,classification,designation,average_height,skin_colors,hair_colors,eye_colors,average_lifespan,homeworld,language,people,films,created,edited,url
count,37,37,37,37,37,37,37,37,36,37,37,37,37,37,37
unique,37,10,2,17,32,9,22,15,36,37,37,14,37,37,37
top,Human,mammal,sentient,180,grey,none,black,unknown,Coruscant,Galactic Basic,"[Dorm, Dooku, Bail Prestor Organa, Jocasta Nu]",[The Phantom Menace],2014-12-10T13:52:11.567000Z,2014-12-20T21:36:42.136000Z,https://swapi.dev/api/species/1/
freq,1,16,36,10,2,26,7,20,1,1,1,7,1,1,1

------------------

Count values:

name                37
classification      37
designation         37
average_height      37
skin_colors         37
hair_colors         37
eye_colors          37
average_lifespan    37
homeworld           36
language            37
people              37
films               37
created             37
edited              37
url                 37
dtype: int64

#############################
######  Column: vehicles
#############################

Columns:

['name',
 'model',
 'manufacturer',
 'cost_in_credits',
 'length',
 'max_atmosphering_speed',
 'crew',
 'passengers',
 'cargo_capacity',
 'consumables',
 'vehicle_class',
 'pilots',
 'films',
 'created',
 'edited',
 'url']

------------------

Head (First 5 Items):

,name,model,manufacturer,cost_in_credits,length,max_atmosphering_speed,crew,passengers,cargo_capacity,consumables,vehicle_class,pilots,films,created,edited,url
0,Sand Crawler,Digger Crawler,Corellia Mining Corporation,150000,36.8,30,46,30,50000,2 months,wheeled,[],"[A New Hope, Attack of the Clones]",2014-12-10T15:36:25.724000Z,2014-12-20T21:30:21.661000Z,https://swapi.dev/api/vehicles/4/
1,T-16 skyhopper,T-16 skyhopper,Incom Corporation,14500,10.4,1200,1,1,50,0,repulsorcraft,[],[A New Hope],2014-12-10T16:01:52.434000Z,2014-12-20T21:30:21.665000Z,https://swapi.dev/api/vehicles/6/
2,X-34 landspeeder,X-34 landspeeder,SoroSuub Corporation,10550,3.4,250,1,1,5,unknown,repulsorcraft,[],[A New Hope],2014-12-10T16:13:52.586000Z,2014-12-20T21:30:21.668000Z,https://swapi.dev/api/vehicles/7/
3,TIE/LN starfighter,Twin Ion Engine/Ln Starfighter,Sienar Fleet Systems,unknown,6.4,1200,1,0,65,2 days,starfighter,[],"[A New Hope, The Empire Strikes Back, Return o...",2014-12-10T16:33:52.860000Z,2014-12-20T21:30:21.670000Z,https://swapi.dev/api/vehicles/8/
4,Snowspeeder,t-47 airspeeder,Incom corporation,unknown,4.5,650,2,0,10,none,airspeeder,"[Luke Skywalker, Wedge Antilles]",[The Empire Strikes Back],2014-12-15T12:22:12Z,2014-12-20T21:30:21.672000Z,https://swapi.dev/api/vehicles/14/

------------------

Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    39 non-null     object
 1   model                   39 non-null     object
 2   manufacturer            39 non-null     object
 3   cost_in_credits         39 non-null     object
 4   length                  39 non-null     object
 5   max_atmosphering_speed  39 non-null     object
 6   crew                    39 non-null     object
 7   passengers              39 non-null     object
 8   cargo_capacity          39 non-null     object
 9   consumables             39 non-null     object
 10  vehicle_class           39 non-null     object
 11  pilots                  39 non-null     object
 12  films                   39 non-null     object
 13  created                 39 non-null     object
 14  edited                  39 non-null     object
 15  url                     39 non-null     object
dtypes: object(16)
memory usage: 5.0+ KB

None

------------------

Description:

,name,model,manufacturer,cost_in_credits,length,max_atmosphering_speed,crew,passengers,cargo_capacity,consumables,vehicle_class,pilots,films,created,edited,url
count,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39
unique,39,39,28,20,34,31,11,14,25,11,19,10,11,39,39,39
top,Sand Crawler,Digger Crawler,Sienar Fleet Systems,unknown,2,1200,1,0,unknown,unknown,repulsorcraft,[],[Revenge of the Sith],2014-12-10T15:36:25.724000Z,2014-12-20T21:30:21.661000Z,https://swapi.dev/api/vehicles/4/
freq,1,1,3,18,3,3,18,16,5,13,7,29,9,1,1,1

------------------

Count values:

name                      39
model                     39
manufacturer              39
cost_in_credits           39
length                    39
max_atmosphering_speed    39
crew                      39
passengers                39
cargo_capacity            39
consumables               39
vehicle_class             39
pilots                    39
films                     39
created                   39
edited                    39
url                       39
dtype: int64

#############################
######  Column: starships
#############################

Columns:

['name',
 'model',
 'manufacturer',
 'cost_in_credits',
 'length',
 'max_atmosphering_speed',
 'crew',
 'passengers',
 'cargo_capacity',
 'consumables',
 'hyperdrive_rating',
 'MGLT',
 'starship_class',
 'pilots',
 'films',
 'created',
 'edited',
 'url']

------------------

Head (First 5 Items):

,name,model,manufacturer,cost_in_credits,length,max_atmosphering_speed,crew,passengers,cargo_capacity,consumables,hyperdrive_rating,MGLT,starship_class,pilots,films,created,edited,url
0,CR90 corvette,CR90 corvette,Corellian Engineering Corporation,3500000,150,950,30-165,600,3000000,1 year,2.0,60,corvette,[],"[A New Hope, Return of the Jedi, Revenge of th...",2014-12-10T14:20:33.369000Z,2014-12-20T21:23:49.867000Z,https://swapi.dev/api/starships/2/
1,Star Destroyer,Imperial I-class Star Destroyer,Kuat Drive Yards,150000000,"1,600",975,"47,060",n/a,36000000,2 years,2.0,60,Star Destroyer,[],"[A New Hope, The Empire Strikes Back, Return o...",2014-12-10T15:08:19.848000Z,2014-12-20T21:23:49.870000Z,https://swapi.dev/api/starships/3/
2,Sentinel-class landing craft,Sentinel-class landing craft,"Sienar Fleet Systems, Cyngus Spaceworks",240000,38,1000,5,75,180000,1 month,1.0,70,landing craft,[],[A New Hope],2014-12-10T15:48:00.586000Z,2014-12-20T21:23:49.873000Z,https://swapi.dev/api/starships/5/
3,Death Star,DS-1 Orbital Battle Station,"Imperial Department of Military Research, Sien...",1000000000000,120000,n/a,"342,953","843,342",1000000000000,3 years,4.0,10,Deep Space Mobile Battlestation,[],[A New Hope],2014-12-10T16:36:50.509000Z,2014-12-20T21:26:24.783000Z,https://swapi.dev/api/starships/9/
4,Millennium Falcon,YT-1300 light freighter,Corellian Engineering Corporation,100000,34.37,1050,4,6,100000,2 months,0.5,75,Light freighter,"[Chewbacca, Han Solo, Lando Calrissian, Nien N...","[A New Hope, The Empire Strikes Back, Return o...",2014-12-10T16:59:45.094000Z,2014-12-20T21:23:49.880000Z,https://swapi.dev/api/starships/10/

------------------

Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    36 non-null     object
 1   model                   36 non-null     object
 2   manufacturer            36 non-null     object
 3   cost_in_credits         36 non-null     object
 4   length                  36 non-null     object
 5   max_atmosphering_speed  36 non-null     object
 6   crew                    36 non-null     object
 7   passengers              36 non-null     object
 8   cargo_capacity          36 non-null     object
 9   consumables             36 non-null     object
 10  hyperdrive_rating       36 non-null     object
 11  MGLT                    36 non-null     object
 12  starship_class          36 non-null     object
 13  pilots                  36 non-null     object
 14  films                   36 non-null     object
 15  created                 36 non-null     object
 16  edited                  36 non-null     object
 17  url                     36 non-null     object
dtypes: object(18)
memory usage: 5.2+ KB

None

------------------

Description:

,name,model,manufacturer,cost_in_credits,length,max_atmosphering_speed,crew,passengers,cargo_capacity,consumables,hyperdrive_rating,MGLT,starship_class,pilots,films,created,edited,url
count,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36
unique,36,36,27,26,36,21,20,20,26,17,12,13,26,15,12,36,36,36
top,CR90 corvette,CR90 corvette,Kuat Systems Engineering,unknown,150,1050,1,0,unknown,2 years,1.0,unknown,Starfighter,[],[Revenge of the Sith],2014-12-10T14:20:33.369000Z,2014-12-20T21:23:49.867000Z,https://swapi.dev/api/starships/2/
freq,1,1,4,10,1,5,11,11,7,6,15,19,5,21,9,1,1,1

------------------

Count values:

name                      36
model                     36
manufacturer              36
cost_in_credits           36
length                    36
max_atmosphering_speed    36
crew                      36
passengers                36
cargo_capacity            36
consumables               36
hyperdrive_rating         36
MGLT                      36
starship_class            36
pilots                    36
films                     36
created                   36
edited                    36
url                       36
dtype: int64